<template>
    <h1>Login</h1>
    <input v-model="email" type="text" placeholder="Mail">
    <input v-model="password" type="text" placeholder="Password">
    <button @click="login">Login</button>
</template>

<script>
export default {
    created(){
        this.$auth.$subscribe((mutation, state) => {
            if (state.isAuthenticated == true) {
                this.$router.push('/');
            }
        })
    },data(){
        return {
            email: 'jeguren@gmail.com', password: 'jordi'
        }
    }, methods: {
        login() {   
            this.$auth.login(this.email, this.password);
        },
    }
}
</script>