<template>
    <MoviePage></MoviePage>
</template>

<script>
    import MoviePage from "../components/MoviePage.vue"
    export default {
        components: { MoviePage },
        props: ['src', 'title', 'descrip' , 'idVideo', 'year', 'duration']
    }
</script>