<template>
    <div>
        <router-link to="/">Inicio</router-link>
        <router-link to="/movies">Peliculas</router-link>
        <router-link to="/series">Series</router-link>
        <router-link to="/favourites">Mis favoritos</router-link>
        <router-link to="/login">Entrar</router-link>
    </div>
</template>

<script>
export default {
    
}
</script>