<template>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </head>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" :src="src" alt="Card image cap">
        <div class="card-body text-center">
            <h3 class="card-title">{{ title }}</h3>
            <!-- <p class="card-text">{{ descrip }}</p> -->
            <router-link :to="{ name: 'movieSin', params: { id: idVideo } }" class="btn btn-primary">Ver mas</router-link>
        </div>
    </div>
</template>

<script>
export default {
    props: ['src', 'title', 'descrip' , 'idVideo']
}
</script>