<template>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </head>
    
    <div class="col col-4 d-flex flex-wrap mt-5">
        <movie-card v-for="movie in movies" :key="movie.key" :src="movie.src" :title="movie.title" :descrip="movie.descrip" :idVideo="movie.idVideo"></movie-card>
    </div>
</template>

<script>
import MovieCard from "./MovieCard.vue"

export default {
    components: { MovieCard },
    created(){
        this.fillMovies();
    },
    data() {
        return {
            movies: [
                /*{
                    "key": "1",
                    "src":"https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Lawrence_of_arabia_ver3_xxlg.jpg/800px-Lawrence_of_arabia_ver3_xxlg.jpg",
                    "title":"Lawrence of Arabia TEST",
                    "descrip":"Lawrence"
                }*/
            ]
        }
    },methods: {
        async fillMovies(){
            const auth = JSON.parse(localStorage.getItem("auth"));
            const token = auth.access_token;

            /*const jsonMovieListser = await fetch("http://netflixaji.herokuapp.com/api/movies",
            {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                },
                headers: { Authorization: `Bearer ${token}`}
            });*/
            const jsonMovieList = await (await fetch(`http://netflixaji.herokuapp.com/api/movies`,{ headers: { Authorization: `Bearer ${token}`}})).json();

            //const jsonMovieListser = await (await fetch(`http://netflixaji.herokuapp.com/api/series`,{ headers: { Authorization: `Bearer ${token}`}})).json();

            console.log(jsonMovieList.data);
            
            for (let index = 0; index < jsonMovieList.data.length; index++) {
                let imgRoute = jsonMovieList.data[index].image;
                let movie = {"key": index + 1, "src": "http://netflixaji.herokuapp.com"+imgRoute.substr(1,imgRoute.length), "title": jsonMovieList.data[index].title, "descrip": jsonMovieList.data[index].sinopsis};  
                this.movies.push(movie);
            }
        }
    }
}
</script>